PORT
   MONGODB_USER
   MONGODB_PASSWORD
   MONGODB_URL
 MONGODB_DB

SMTP_SERVER 
SMTP_PORT
SMTP_USER
SMTP_PASSWORD
SMTP_FROM

JWT_SECRET
APP_DOMAIN

 ClOUDINARY_CLOUD_NAME 
  ClOUDINARY_API_KEY
  ClOUDINARY_API_SECRET

   ENABLE_CLOUDINARY